:root {
  font-family: monospace;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.inline-input {
  outline: none;
  border: none;
  field-sizing: content;
}
