:root {
  font-family: monospace;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.inline-input {
  padding: 1ch;
  outline: none;
  border: none;
  field-sizing: content;
  max-width: 40ch;
  background-color: #eee;
}

.block-input {
  padding: 1ch;
  outline: none;
  border: none;
  field-sizing: content;
  width: 100%;
  resize: none;
  background-color: #eee;
}

.token-option {
  border: none;
  box-shadow: none;

  code {
    white-space: pre-wrap;
  }
}

label {
  display: block;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.details {
  border: 4px double black;
  margin-top: 1ch;
  padding: 1ch;
  /* padding: 1ch 0 1ch calc(1ch + 0.4rem); */
}
