:root {
  font-family: monospace;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

body {
  display: grid;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

summary {
  cursor: pointer;
  user-select: none;
  padding: 1ch;
  &:hover {
    color: white;
    background-color: black;
  }
}

.inline-input {
  padding: 1ch;
  outline: none;
  border: none;
  field-sizing: content;
  width: 100%;
  background-color: #eee;
}

.block-input {
  padding: 1ch;
  outline: none;
  border: none;
  field-sizing: content;
  width: 100%;
  resize: none;
  background-color: #eee;
}

.token-option {
  border: none;
  box-shadow: none;

  code {
    white-space: pre-wrap;
  }
}

label {
  display: block;
  margin-bottom: 0.5ch;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.details {
  border: 4px double black;
  margin-block: 0.5ch 1.5ch;
  padding: 1ch;
  /* padding: 1ch 0 1ch calc(1ch + 0.4rem); */
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1ch;
}

textarea {
  word-break: break-word;
  max-height: 60vh;
  overflow: auto;
}
